// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 14px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-focus-style: none;
@import "../valo/valo.scss";


@mixin digitalstorytellingplatform {
  @include valo;

  // Insert your own theme rules here
  
  $theme-color: #e31;
  $theme-light: #f64;
  $theme-dark: #b21;
  
  * { outline: none; }
  
  .front-page {
  	position: relative;
  	display: block;
  	min-height: 100%;
  	background-image: url("background3.jpg");
  	background-size: cover;
  	background-attachment: fixed;
  	background-position: center;
  	color: #ffffff;
  	text-align: center;
  	
  	padding-bottom: 5em;
  	
  	.main-layout {
  	  display: block;
  	  width: 100%;
  	  text-align: center;

  	  &[width-range~="800px-"] {
  	    position: absolute;
  	    top: 30%;
  	    left: 50%;
  	    transform: translate(-50%, -20%);
  	  }
  	}
  	
  	
  	.v-label{ text-align: center; }
  	
  	.header{
  	  font-family: "Courier New", monospace;
  	  font-size: 4em;
  	  font-weight: normal;
  	  line-height: 0.9em;
  	  margin: 0.5em 0;
  	}
  	
  	.subheader{
  	  font-size: 1.5em;
  	  margin-bottom: 3em;
  	}
  	
  	.search-layout {
  	  display: block;
  	  width: 100%;
  	  &[width-range~="800px-"] { text-align: center; }
  	  &[width-range~="0-799px"] {
  	    .theme-button {
  	      width: 95%;
  	  	  margin: 0.3em 2.49%;
  	  	}
  	  }
  	}
  	.search-layout * {
  	  vertical-align: middle;
  	  margin: 0.3em;
  	}
  	.search-field {
  	  font-size: 1.2em;
  	  padding: 1.2em 1em;
  	  text-align: left;
  	  display: block;
  	  width: 95%;
  	  margin: 0.3em 2.49%;
  	  &[width-range~="800px-"] { display: inline-block; width: 50vw; margin: 0.3em;}
  	}

  	
  	
  	.scrollable-layout {
	  display: block;
	  margin-top: 2em;
	  text-align: center;
	  width: 100%;
	  &[width-range~="800px-"] {
	  	margin-top: 120px;
	  	text-align: left;
	  	width: 80%;
	  }
	  
	  margin-left: auto;
	  margin-right: auto;
  	}
  }
  	
  
  .top-bar {
    width: 100%;
    padding: 0.8em 0.6em 0em 0.6em;
    background: rgba(30, 30, 30, 0.6);
  
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    
    text-align: center;
  	
    &[width-range~="800px-"] {
	  position: fixed;
      top: 0px;
      left: 0px;
    }
  
    .logo-nav-button {
      color: $theme-color;
      font-size: 1.6em;
      margin: 0em 0.2em;
      cursor: pointer;
      
      flex: 20 1 auto;

      &[width-range~="0-799px"] { width: 100%; text-align: center; margin-bottom: 0.5em; }
    }
    
    .right-nav-button {
      flex: 1 1 auto;
      text-align: center;
  	  border: 1px solid #ffffff;
  	  border-radius: 5px;
  	  color: #ffffff;
  	  padding: 0.6em 1em;
  	  margin: 0em 0.4em 0.5em 0.4em;
  	  cursor: pointer;
  	}
  	
  	.right-nav-button2 {
  	  color: #ffffff;
  	  padding: 0.6em 1em;
  	  margin: 0em 0.4em;
  	  cursor: pointer;
  	}
  	
  	.highlighted-nav-button { @extend .theme-button; }
    .highlighted-nav-button:hover { @extend .theme-button:hover; }
  	
  	.active-nav-button {
  	  color: $theme-color;
  	  border-bottom: 3px solid $theme-color;
  	}
  }
  
  .theme-button {
    border: 1px solid $theme-color;
  	border-radius: 5px;
  	background: $theme-color;
  	cursor: pointer;
  	color: #ffffff;
  	padding: 0.6em 1em;
  	transition: background 0.3s ease;
  }
  .theme-button:hover {
    background: $theme-dark;
  }
  
  .button-big {
    @extend .theme-button;
  	font-size: 1.5em;
  	padding: 1.5em 4em;
  	margin: 0.5em;
  }
  .button-big:hover { @extend .theme-button:hover; }
  
  
  .back-button {
    width: 4.2em;
    height: 4.2em;
    background-image: url("backArrow3.png");
    background-size: contain;
    margin: 0em 2em 1.2em 0em;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-image: url("backArrowHover3.png");
  }
  
  
  .topic-button {
    @extend .theme-button;
    height: 8em;
    border-radius: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    width: 100%;
    margin: 0.3em 0;
    
    &[width-range~="800px-"] {
      display: flex;
      width: 32.7%;
      margin: 0.2vw 0.3%;
    }
    

    
    font-size: 2.5em;
    padding-top: 0.5em;
    padding-left: 0.5em;
	
	.topic-title {
	  flex: 2 1 auto;
	  
	  line-height: 0.9em;
	  font-weight: 400;
	  font-family: "Courier New", monospace;
	  margin-bottom: 0.5em;
	  margin-top: 0.5em;
	}
	.topic-description{
	  flex: 2 1 auto;
	  font-size: 0.5em;
	}
	
	.topic-fragments{
	  font-size: 0.8em;
	  background-image: url("documentIcon2.svg");
	  background-size: contain;
	  background-repeat: no-repeat;
	  padding-left: 2em;
	}
  }

    
  .topic-button:hover { @extend .theme-button:hover; }


  
  .topic-read-panel-wrapper {
    display: block;
    margin: 1em 0em 1em 0em;
    
    &[width-range~="0-799px"] {
      .header {
        display: block;
        font-size: 2.5em;
        line-height: 0.9em;
        text-align: center;
        margin: 0.5em 0;
      }
      .theme-button {
      	float: none;
        width: 100%;
        margin: 1em 0;
        text-align: center;
      }
    }
    
    &[width-range~="800px-"] {
      margin: 8em 0em 1em 0em;
    }
    
    
    .topic-title {
      display: block;
      font-family: "Courier New", monospace;
      color: #fff;
      font-size: 3em;
      line-height: 0.9em;
      margin: 1em 0.4em;
    }
    
    .topic-description {
      color: #000;
      text-align: left;
      font-size: 1.2em;
      margin: 2em 1em;
    }
    
  }
  
  .topic-read-panel {
    display: block;
    padding: 1em;
    background: #fff;
    box-shadow: 0px 0px 10px -2px #000;
    color: #000;

    
    &[width-range~="800px-"] {
      padding: 3em;
      border-radius: 5px;
    }
    
    .v-label {
      text-align: left;
      margin-bottom: 0.5em;
    }
	
    .v-textfield,
    .v-textarea {
      display: block;
      width: 100%;
      margin-bottom: 1em;
    }
      
    .v-textarea { height: 20em; }
      
    .v-checkbox {
     display: block;
     margin-bottom: 1em;
    }
  }
  
  
  .topic-list-panel {
    display: flex;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    padding: 2em 0.5em 0 0.5em;
  }
  
  .new-topic-button {
    @extend .theme-button;
    float: right;
    font-size: 1.2em;
    margin-top: 1em;
    background: #1c3;
    border: 1px solid #1c3;
    
    &[width-range~="0-799px"] {
	  display: block;
	  width: 95%;
	  margin: 2em 2.5% 1em 2.5%;
	}
    &[width-range~="800px-"] {
      display: inline-block;
      float: right;
    }
  }
  .new-topic-button:hover {
    background: #0a1;
  }
  
  .my-topics-menu {
    display: block;
    background: rgba(40, 40, 40, 0.5);
    clear: both;
    margin-top: 2em;
  }
  .my-topics-menu-button {
    padding: 1em;
    margin-right: 0.5em;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .my-topics-menu-button:hover {
  	color: $theme-light;
  }
  .my-topics-menu-button-active {
    @extend .my-topics-menu-button;
    color: $theme-color;
    border-bottom: 3px solid $theme-color;
  }
  
  .large-text-area {
    display: block;
    width: 100%;
  }
  
  .v-caption, .v-checkbox {
    color: #000;
    font-size: 1.2em;
    font-weight: 400;
  }
  
  
  .right { float: right; }
  
  .inline-block { display: inline; }
  
  .block { display: block; }
  
  .fragment {
  	color: #000;
  	background: #fff;
  	text-decoration: none;
  	padding: 2px;
  	margin: 1px;
  	border-radius: 5px;
  	box-shadow: 0px 0px 5px -5px #000;
  	transition: background 0.3s ease;
  }
  .fragment:hover {
    color: #000;
  	background: $theme-light;
  }

  
  .v-popupview-popup-fragment {
  	width: 75%;
  	padding: 1em;
  	box-shadow: 0px 2px 30px -2px #000;
  	border: 1px solid #333;
  }
 
  .login-window {
 	padding: 5em 1em;
  }
 
  .login-button-wrapper {
  	width: 100%;
  	text-align: center;
  }
}
